@{
    ViewBag.Title = "Home Page";
}

<h1>Login</h1>
<style>
    body {
        background-color: @Session["color"];
    }
</style>

<form id="login" action="Home/Register" method="post">
    <input type="text" name="name" value="@Session["name"]" placeholder="Name" /><br />
    <select name="color" id="select1">
        <option value="" disabled selected>Choose a color for your theme</option>
        <option class="purple" name="color" value="@Session["color"]">Purple</option>
        <option class="yellow" name="color" value="@Session["color"]">Yellow</option>
        <option class="red" name="color" value="@Session["color"]">Red</option>
        <option class="green" name="color" value="@Session["color"]">Green</option>
        <option class="blue" name="color" value="@Session["color"]">Blue</option>
    </select><br />   
    <input type="text" name="userName" value="@Session["userName"]" placeholder="username" /><br />
    <input type="submit" class="btn btn-primary" value="Continue" />

</form>

